<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/lib/layui-v2.11.6/css/layui.css" rel="stylesheet" media="all" />
    <link href="/css/public.css" rel="stylesheet" media="all" />
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <form class="layui-form">
                <div class="layui-form layuimini-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">旧的密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="old_password" lay-verify="required" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码" value="" class="layui-input">
                            <tip>填写自己账号的旧的密码。</tip>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">新的密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="new_password" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">新的密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="again_password" lay-verify="required|repass" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" value="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="saveBtn">确认保存</button>
                            <button type="button" class="layui-btn layui-btn-primary" id="BtClose">关闭</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <Link href="__PUBLIC__static/css/main.css" rel="stylesheet" />
    <script src="__LIB__/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__lib/layui-v2.11.6/layui.js" charset="utf-8"></script>
    <script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;


            form.verify({
                pass: [
                    /^[\S]{6,12}$/
                    ,'密码必须6到12位，且不能出现空格'
                ]
                ,repass: function(value){
                    if(value != $('#new_password').val()){
                        return '两次密码不一致';
                    }
                }
            });



        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data = data.field;
            if (data.again_password != data.new_password) {
                layer.msg('两遍密码不一致', { icon: 5, time: 2000 });
                return false;
            }

            $.ajax({
                url: '/{$Request.module}/{$Request.controller}/ModifyPassWordAsync', //"@Url.Action("ModifyPassWordAsync","Home")",
                type: "post",
                dataType: "json",
                async: true,
                data: {
                    OldPwd: data.old_password,
                    NewPwd: data.new_password,
                },
                success: function (data) {
                    //Info,Success,Warning,Error
                    var type = data.Type;
                    if (type == 1) {
                        //layer.msg(data.Content, { icon: 6, time: 2000 }, function () {
                        //    window.close();
                        //});
                        layer.msg(data.Content, {
                            icon: 6,
                            time: 5000 // 设置 2 秒后自动关闭
                        }, function () {
                            console.log('尝试关闭窗口');

                            CloseThisTab();

                            // do something
                        });
                        return false;
                    } else {
                        layer.msg(data.Content, { icon: 5, time: 2000 });
                        return false;
                    }
                }
            });
            return false;

        });

    });


        function SSS() {
            console.log('一个普通的方法：');
        }
        // 显示通知
        BtClose.addEventListener('click', () => {

            CloseThisTab();

        });

        function CloseThisTab() {
            console.log('this ', this);
            console.log('window ', window);
            console.log(' parent.layui.miniAdmin ', parent.layui.miniAdmin);
            console.log(' parent.layui.miniTab ', parent.layui.miniTab);
            //parent.layui.miniTab.deleteCurrentByIframe();

            if (parent.layui.admin && parent.layui.admin.closeThisTabs)
                parent.layui.admin.closeThisTabs();
            if (parent.layui.admin && parent.layui.admin.events && parent.layui.admin.events.closeThisTabs)
                parent.layui.admin.events.closeThisTabs();
            if (parent.layui.miniAdmin && parent.layui.miniAdmin.closeThisTabs)
                parent.layui.miniAdmin.closeThisTabs();
            if (parent.layui.miniTab && parent.layui.miniTab.deleteCurrentByIframe)
                parent.layui.miniTab.deleteCurrentByIframe();
            window.close();

        }
    </script>
</body>
</html>
