<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__PUBLIC__lib/layui-v2.11.6/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__css/public.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__css/pagescss/butjumpup.css" />
    <script type="text/javascript" src="__PUBLIC__scripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__scripts/comm.js"></script>
    <script type="text/javascript" src="__PUBLIC__scripts/admin_comm.js"></script>

</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

<div id="OptLevel" > 
    <form class="layui-form level3-form" action="" id="OptLevelForm" lay-filter="OptLevelForm">


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">创客等级</label>
                <div class="layui-input-inline layui-text layui-text-form">
                
                    <select name="MakerLevelId" id="OptLevel_MakerLevelId" lay-verify="required" lay-search>
                        <option value="">请选择</option>

                        {foreach $MakeingLvList as $key=>$vo } 
                        {if $vo.Id == $Model.MakerLevelId }
                            <option value="{$vo.Id}" selected="selected">{$vo.LevelName}</option>
                        {else /}     
                            <option value="{$vo.Id}">{$vo.LevelName}</option>
                        {/if}     
                            
                            
                        {/foreach}
                        
                    </select>
                </div>
            </div>
        </div>  

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="Rmk" class="layui-textarea"></textarea>
            </div>
        </div>        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="OptLevelForm-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>      
        </div>
    </form>
    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
</div> <!-- OptLevel end -->

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" >下属会员↓↓↓</button>    
  </div>
</script>


<div class="layui-tabs layui-tabs-card " id="PageHeadTab">
  <ul class="layui-tabs-header layui-bg-tint" >
    <li class="layui-this" lay-id="BaseInfo">基本信息</li>


  </ul>
  <div class="layui-tabs-body">
    <div class="layui-tabs-item layui-show">
            <form class="layui-form" action="" lay-filter="MainForm">
<input type="hidden" name="Id" id="Id" value="{$Model->Id}" /><!-- 主键  -->


<input type="hidden" name="OpenId" id="OpenId" value="" /><!-- 微信OpenId  -->
<input type="hidden" name="TokenId" id="TokenId" value="" /><!-- TokenId  -->
<input type="hidden" name="Mobile" id="Mobile" value="" /><!-- 手机号  -->
<input type="hidden" name="RealityName" id="RealityName" value="" /><!-- 姓名  -->
<input type="hidden" name="Account" id="Account" value="" /><!-- 账号  -->
<input type="hidden" name="Password" id="Password" value="" /><!-- 密码  -->
<input type="hidden" name="NickName" id="NickName" value="" /><!-- 呢称  -->
<input type="hidden" name="IsBindPhone" id="IsBindPhone" value="" /><!-- 已经绑定手机  -->
<input type="hidden" name="IsReality" id="IsReality" value="" /><!-- 是否已经姓名  -->
<input type="hidden" name="StoreId" id="StoreId" value="" /><!-- 商户Id 本项目未使用  -->
<input type="hidden" name="LockState" id="LockState" value="" /><!-- 用来和其它Web通信的接口  -->
<input type="hidden" name="RegPlatform" id="RegPlatform" value="" /><!-- 注册平台  -->
<input type="hidden" name="RegisterIp" id="RegisterIp" value="" /><!-- 注册IP  -->
<input type="hidden" name="RegisterDate" id="RegisterDate" value="" /><!-- 注册日期  -->
<input type="hidden" name="LoginDate" id="LoginDate" value="" /><!-- 登录日期  -->
<input type="hidden" name="LogoutDate" id="LogoutDate" value="" /><!-- 登出日期  -->
<input type="hidden" name="LoginIp" id="LoginIp" value="" /><!-- 登录IP  -->
<input type="hidden" name="UserLevel" id="UserLevel" value="" /><!-- 用户等级  -->
<input type="hidden" name="AdminLevel" id="AdminLevel" value="" /><!-- 用户对应的后台管理等级   -->
<input type="hidden" name="VipLevel" id="VipLevel" value="" /><!-- VIP等级  -->
<input type="hidden" name="VipExp" id="VipExp" value="" /><!-- VIP经验  -->
<input type="hidden" name="Sex" id="Sex" value="" /><!-- 性别 1 男 2 女 3 其它  -->
<input type="hidden" name="Remarks" id="Remarks" value="" /><!-- 备注  -->
<input type="hidden" name="RegisterTerminal" id="RegisterTerminal" value="" /><!-- 注册终端  -->
<input type="hidden" name="GId" id="GId" value="" /><!-- Guid  -->
<input type="hidden" name="OldLoginIp" id="OldLoginIp" value="" /><!-- 上一次登录的Ip  -->
<input type="hidden" name="FaceImg" id="FaceImg" value="" /><!-- 头像  -->
<input type="hidden" name="RegArea" id="RegArea" value="" /><!-- 注册区域（邮编区号）  -->
<input type="hidden" name="RegAreaName" id="RegAreaName" value="" /><!-- 注册区域名称  -->
<input type="hidden" name="UserRegSource" id="UserRegSource" value="" /><!-- 注册来源  -->
<input type="hidden" name="Address" id="Address" value="" /><!-- 地址  -->
<input type="hidden" name="IDCard" id="IDCard" value="" /><!-- 身份证  -->
<input type="hidden" name="BirthDay" id="BirthDay" value="" /><!-- 生日  -->
<input type="hidden" name="IsPromete" id="IsPromete" value="" /><!-- 已经提权  -->
<input type="hidden" name="CreateTime" id="CreateTime" value="" /><!-- 创建日期  -->
<input type="hidden" name="FirstLoginTime" id="FirstLoginTime" value="" /><!-- 首次登录日期  -->
<input type="hidden" name="IsDelFlag" id="IsDelFlag" value="" /><!-- 删除标记  -->
<input type="hidden" name="DelTime" id="DelTime" value="" /><!-- 删除日期  -->
<input type="hidden" name="LoginClientID" id="LoginClientID" value="" /><!-- 登录的客户端ID  -->
<input type="hidden" name="LoginPlatform" id="LoginPlatform" value="" /><!-- 登录平台  -->
<input type="hidden" name="LoginVersion" id="LoginVersion" value="" /><!-- 登录版本  -->
<input type="hidden" name="SignoutStatus" id="SignoutStatus" value="" /><!-- 注销状态  0 未注销 1 已经注销  -->
<input type="hidden" name="SignoutTime" id="SignoutTime" value="" /><!-- 注销日期  -->
<input type="hidden" name="GuiderBonus" id="GuiderBonus" value="" /><!-- 直推奖  -->
<input type="hidden" name="ManageBonus" id="ManageBonus" value="" /><!-- 管理奖  -->
<input type="hidden" name="PersonalPerformance" id="PersonalPerformance" value="" /><!-- 个人业绩  -->
<input type="hidden" name="GuiderPerformance" id="GuiderPerformance" value="" /><!-- 直推业绩  -->
<input type="hidden" name="MakerLevel" id="MakerLevel" value="" /><!-- 创客等级  -->
<input type="hidden" name="ShareholderLevel" id="ShareholderLevel" value="" /><!-- 股东等级  -->
<input type="hidden" name="BuyTimes" id="BuyTimes" value="" /><!-- 购买次数  -->
<input type="hidden" name="HisMonetary" id="HisMonetary" value="" /><!-- 消费金额  -->
<input type="hidden" name="BalacePoints" id="BalacePoints" value="" /><!-- 剩余积分  -->
<input type="hidden" name="HisPoints" id="HisPoints" value="" /><!-- 历史积分  -->


             
<input type="hidden" name="GuiderUserId_Old" id="GuiderUserId_Old" value="{$Model.GuiderUserId}" />
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">呢称</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.NickName}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-inline  layui-text-form"> 
                            {$Model.Mobile}
                            
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline  layui-text-form">
                            {$Model.RealityName}
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">                  
                    <div class="layui-inline">
                        <label class="layui-form-label">奖金(历史/剩余/冻结)</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.BonusHistory}/  {$Model.BonusBalance}/  {$Model.BonusFrozen}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">金果(历史/剩余/冻结)</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.ScoreHistory}/  {$Model.ScoreBalance}/  {$Model.ScoreFrozen}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">积分(历史/剩余/冻结)</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.PointsHistory}/  {$Model.PointsBalance}/  {$Model.PointsFrozen}
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">                  

                    <div class="layui-inline">
                        <label class="layui-form-label">购买次数</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.BuyTimes}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">消费金额</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.HisMonetary}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="MakerLevelId" id="MakerLevelId" value="" /><!-- 创客等级  -->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">创客等级</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                        {foreach $MakeingLvList as $key=>$vo }
                            {if $vo.Id == $Model.MakerLevelId }
                                 {$vo.LevelName}
                            {/if}                           
                        {/foreach}                                

                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">注册日期：</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.RegisterDate}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">登录日期</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.LoginDate}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">冻结状态</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            <input type="checkbox" name="SwitchIsDelFlag" lay-skin="switch" lay-filter="SwitchIsDelFlag" {if( 1 == $Model.IsDelFlag)}  checked {/if} title="是|否">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">冻结日期</label>
                        <div class="layui-input-inline layui-text layui-text-form">
                            {$Model.DelTime}
                        </div>
                    </div>
                </div>



                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="MainForm">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

        
        </form>




    </div><!-- tab1 end -->


  </div>



</div>            



    </div>
    </div>

<div class="modal-overlay" id="modalOverlay" style="display: none;">
        <div class="modal">
            <div class="modal-header">
                <h2>添加新员工</h2>
                <button class="close-btn" id="closeModal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-content">
                <div class="inpdi">
                    <label for="name">姓名:</label>
                    <input type="text" class="empnameinp" id="name" placeholder="请输入员工姓名">
                </div>
                <div class="inpdi">
                    <label for="gender">性别:</label>
                    <select class="selec" id="gender">
                        <option>男</option>
                        <option>女</option>
                    </select>
                </div>
                <div class="inpdi">
                    <label for="position">职位:</label>
                    <input type="text" class="empnameinp" id="position" placeholder="请输入职位名称">
                </div>
                <div class="inpdi">
                    <label for="company">所属公司:</label>
                    <input type="text" class="empnameinp" id="position" placeholder="请输入所属公司">
                </div>
            </div>
        </div>
    </div>
</div> <!-- modal-overlay end -->   

<div id="ID-test-layer-wrapper" style="display: none;">
  <div style="padding:16px;">
    弹出已经存在于页面中的一段元素<br>
    通常是放置在 &lt;body&gt; 根节点下
  </div>
</div> <!-- 弹出层 demo end  -->


    <script src="__PUBLIC__lib/layui-v2.11.6/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table', 'jquery'], function () {
            let $ = layui.jquery,
                form = layui.form,
                table = layui.table;
            var util = layui.util;
            var upload = layui.upload;
            var element = layui.element;
            // 自定义验证规则
            form.verify({
                // 确认密码
                confirmPassword: function (value, item) {
                    var passwordValue = $('#RegPwd').val();
                    if (value !== passwordValue) {
                        return '两次密码输入不一致';
                    }
                }

            });


        table.render({
            elem: '#currentTableId',
            toolbar: '#toolbarDemo',
            method: 'post',
            url: '/{$Request.module}/{$Request.controller}/miniquery', //数据接口
            request: {
                pageName: 'PageIndex' //页码的参数名称，默认：page
                ,limitName: 'PageSize' //每页数据量的参数名，默认：limit
            },
            where: {
                GuiderUserId: $('#Id').val()
            },
            //data: [{
            //    'privatestyle': '张三',
            //    'erptype': '2301',
            //    'labels': '膳寇'
            //},               ],
            defaultToolbar: [],
            cols: [
                [{
                    type: 'numbers',
                    title: '序号'
                },
                    {
                        field: 'Id',title: '推广码',align: 'center'
                    },
                    {
                        field: 'NickName', title: '呢称姓名', align: 'center',
                        templet: function (d) { return DisplayMergeName(d.NickName,d.RealityName) }
                    },
                    {
                        field: 'MarketingLevelName',
                        title: '级组',
                        align: 'center'
                    },

                    {
                        field: 'Mobile',
                        title: '手机号',
                        align: 'center'
                    },
                    {
                        field: 'ScoreBalance',
                        title: '金果',
                        align: 'center'
                    },
                    {
                        field: 'IsRegionAgent', title: '县代', align: 'center',
                        templet: function (d) { return DisplayIsEnable(d.IsRegionAgent) }
                    },
                    {
                        field: 'RegisterDate', title: '注册日期', align: 'center',
                        templet: function (d) { return DisplayDate(d.RegisterDate,2) }
                    },
                    {
                        field: 'FaceImg',
                        title: '头像',
                        align: 'center',
                        templet: function (d) {
                            if (d.ClassTitPic01 && !CheckNull(d.ClassTitPic01)) {
                                return '<img src="' + d.ProductPic + '" style="height:30px;" />';
                            } else {
                                return '';
                            }
                        }
                    },
                ]
            ],

            skin: 'grid',
        });




            //监听提交
            form.on('submit(OptLevelForm-submit)', function (data) {
                console.log(data);
                Debug(data);
                if (CheckNull(data.field.MakerLevelId)) {
                    layer.alert('必须指定 【变动方式】 ', { icon: 5 });
                    return false;
                }
                // console.log('data.field', JSON.stringify(data.field));                   
                // let PostData = data.field;
                // PostData.ClientUserId = $('#Id').val();
                let PostData = {...data.field, ClientUserId: $('#Id').val()};
                // console.log('data.field', JSON.stringify(data.field));                

                // console.log('data.field',data.field);                
                console.log('PostData',PostData);
                // if (null != data) return false;
//                 在JS当中，下面这行代出错了， 是因为 data.field 是一个对象，不能用 ...data.field吗？

// let PostData =[... data.field ]; 
                $.ajax({
                    url: '/{$Request.module}/{$Request.controller}/OptLevel',
                    type: 'post',
                    dataType: 'json',
                    data: PostData,
                    success: function (data) {
                        console.log(data);
                        //Info,Success,Warning,Error
                        var type = data.Type;
                        if (0 < data.StatusCode) {
                            layer.msg(data.Title, { icon: 6, time: 2000 },
                                function () {
                                    var index = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(index);

                                    if (parent.ReloadList)
                                        parent.ReloadList();
                                    if (parent.layer.RefreshTable)
                                        parent.layer.RefreshTable();
                                });

                        } else {
                            layer.alert(data.Title, { icon: 5 });
                        }
                    }
                });
                //layer.alert(JSON.stringify(data.field), {
                //    title: '最终的提交信息'
                //})
                return false;
            });






                        //表单初始赋值
            form.val('MainForm', {

                "Id": "{$Model->Id}" //Id主键

, "OpenId": "{$Model->OpenId|default=''}" // 微信OpenId
, "TokenId": "{$Model->TokenId|default=''}" // TokenId
, "Mobile": "{$Model->Mobile|default=''}" // 手机号
, "RealityName": "{$Model->RealityName|default=''}" // 姓名
, "GuiderUserId": "{$Model->GuiderUserId|default=''}" // 推荐人UserId
, "Account": "{$Model->Account|default=''}" // 账号
, "Password": "{$Model->Password|default=''}" // 密码
, "NickName": "{$Model->NickName|default=''}" // 呢称
, "IsBindPhone": "{$Model->IsBindPhone|default=''}" // 已经绑定手机
, "IsReality": "{$Model->IsReality|default=''}" // 是否已经姓名
, "StoreId": "{$Model->StoreId|default=''}" // 商户Id 本项目未使用
, "LockState": "{$Model->LockState|default=''}" // 用来和其它Web通信的接口
, "RegPlatform": "{$Model->RegPlatform|default=''}" // 注册平台
, "RegisterIp": "{$Model->RegisterIp|default=''}" // 注册IP
, "RegisterDate": "{$Model->RegisterDate|default=''}" // 注册日期
, "LoginDate": "{$Model->LoginDate|default=''}" // 登录日期
, "LogoutDate": "{$Model->LogoutDate|default=''}" // 登出日期
, "LoginIp": "{$Model->LoginIp|default=''}" // 登录IP
, "UserLevel": "{$Model->UserLevel|default=''}" // 用户等级
, "VipLevel": "{$Model->VipLevel|default=''}" // VIP等级
, "VipExp": "{$Model->VipExp|default=''}" // VIP经验
, "Sex": "{$Model->Sex|default=''}" // 性别 1 男 2 女 3 其它
, "Remarks": "{$Model->Remarks|default=''}" // 备注
, "RegisterTerminal": "{$Model->RegisterTerminal|default=''}" // 注册终端
, "GId": "{$Model->GId|default=''}" // Guid
, "OldLoginIp": "{$Model->OldLoginIp|default=''}" // 上一次登录的Ip
, "FaceImg": "{$Model->FaceImg|default=''}" // 头像
, "RegArea": "{$Model->RegArea|default=''}" // 注册区域（邮编区号）
, "RegAreaName": "{$Model->RegAreaName|default=''}" // 注册区域名称
, "UserRegSource": "{$Model->UserRegSource|default=''}" // 注册来源
, "Address": "{$Model->Address|default=''}" // 地址
, "IDCard": "{$Model->IDCard|default=''}" // 身份证
, "BirthDay": "{$Model->BirthDay|default=''}" // 生日
, "IsPromete": "{$Model->IsPromete|default=''}" // 已经提权
, "CreateTime": "{$Model->CreateTime|default=''}" // 创建日期
, "FirstLoginTime": "{$Model->FirstLoginTime|default=''}" // 首次登录日期
, "IsDelFlag": "{$Model->IsDelFlag|default=''}" // 删除标记
, "DelTime": "{$Model->DelTime|default=''}" // 删除日期
, "LoginClientID": "{$Model->LoginClientID|default=''}" // 登录的客户端ID
, "LoginPlatform": "{$Model->LoginPlatform|default=''}" // 登录平台
, "LoginVersion": "{$Model->LoginVersion|default=''}" // 登录版本
, "SignoutStatus": "{$Model->SignoutStatus|default=''}" // 注销状态  0 未注销 1 已经注销
, "SignoutTime": "{$Model->SignoutTime|default=''}" // 注销日期 
, "MakerLevelId": "{$Model->MakerLevelId|default=''}" // 创客等级
, "ShareholderLevel": "{$Model->ShareholderLevel|default=''}" // 股东等级
, "BuyTimes": "{$Model->BuyTimes|default=''}" // 购买次数
, "HisMonetary": "{$Model->HisMonetary|default=''}" // 消费金额
, "PointsHistory": "{$Model->PointsHistory|default=''}" // 历史积分
, "PointsBalance": "{$Model->PointsBalance|default=''}" // 剩余积分
, "PointsFrozen": "{$Model->PointsFrozen|default=''}" // 冻结积分
, "BounsHistory": "{$Model->BounsHistory|default=''}" // 奖金历史
, "BounsBalance": "{$Model->BounsBalance|default=''}" // 奖金余额
, "BounsFrozen": "{$Model->BounsFrozen|default=''}" // 奖金冻结数额
, "IsRegionAgent": "{$Model->IsRegionAgent|default=''}" // 是否为区县代理


            })







        });

        function SetClientUserJson(jsonObj) {
            if (CheckNull(jsonObj)) return;

            var formdata = layui.form.val('MainForm');
            Debug('formdata', formdata);
            Debug('jsonObj', jsonObj);
            layui.form.val('MainForm', {
                "GuiderUserId": jsonObj.GuiderUserId,
                "GuiderUserName": jsonObj.RealityName + ' (' + jsonObj.NickName + ')',
                "GuiderUserMobile": jsonObj.Mobile,

            });
            //$('#SupplierName').val(jsonObj.SupplierName)
            //layui.form.render($('#SupplierName')); // 仅渲染 id="select-id" 的表单项
            //layui.form.render($('#MainForm')); // 仅渲染 id="select-id" 的表单项

            Debug('formdata', formdata);


        }
        $(document).ready(function() {
            console.log('页面加载完成');
            Debug('原来的推荐人Id： ' + $('#GuiderUserId_Old').val());
          
            // 在这里执行其他操作
        });
    </script>
    <script type="text/javascript">

        var OrderStatusArr = [];

        var PayStatusArr = [];
        var AssetModeArr = [];

        $(function () {
            layui.form.render($('#OptLevel_MakerLevelId')); 

        });
        



    const modalOverlay = document.getElementById('modalOverlay');
    const closeModal = document.getElementById('closeModal');



    // 按ESC键关闭模态框
    document.addEventListener('keydown', (e) => {
        if (e.key === 'Escape' && modalOverlay.classList.contains('active')) {
            modalOverlay.classList.remove('active');
            document.body.style.overflow = 'auto';
        }
    });
    </script>

<script>
    var LoadedTabs = [false, false, false,false,false];
    var TabsFlagMap = new Map(
        [
            ['BaseInfo', false],
            ['PayBillList',false],
            ['PointLogList', false],
            ['BonusLogList',false],
            ['WithdrawList', false],
        ]
    );


    layui.use(['form','table','jquery'], function(){

        let $ = layui.jquery,
        form = layui.form,
        table = layui.table;
        var tabs = layui.tabs;        
        var util = layui.util;

        // tabs 切换前的事件
        // tabs.on(`beforeChange(PageHeadTab)`, function(data) {
        // //     console.log('beforeChange', data);  // 标签相关数据          
        // //     console.log('data.from.index ',data.from.index); // 切换前的选中标签索引
        // //     console.log('data.from.headerItem', data.from.headerItem); // 切换前的选中标签头部项
        //     console.log('data.to.index',data.to.index); // 切换后的选中标签索引
        //     console.log('data.to.headerItem', data.to.headerItem); // 切换后的选中标签头部项
        // // // 阻止标签默认切换
        // // //return false;
        // });
        // tabs 切换后的事件
        tabs.on('beforeChange(PageHeadTab)', function(data) {
            console.log('afterChange', data);  // 标签相关数据   
            console.log('data.from.index',data.to.index); // 切换后的选中标签索引
            console.log('data.to.headerItem', data.to.headerItem); // 切换后的选中标签头部项

            var tabid = data.to.headerItem.attr('lay-id');
            var tabidx = data.to.index;
            if (TabsFlagMap[tabid]) {
                return;
            }
            TabsFlagMap[tabid] = true;            
            switch (tabid) {
                case 'PayBillList':
                    RenderPayBillTable();
                    break;
                case 'PointLogList':
                    RenderPointLogTable();
                    break;
                case 'BonusLogList':
                    RenderBonusLogTable();
                    break;
                case 'WithdrawList':
                    RenderWithdrawTable();
                    break;
                case 'PayBillList2':
                    // 获取数据
                    table.reload('PayBillList2', {                
                        where: {
                            ClientUserId:  '{$Model.Id}'
                        }
                    });

                default:
                    break;
            }
        });

      


    });


</script>

</body>
</html>