<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__PUBLIC__lib/layui-v2.11.6/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__css/public.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__css/pagescss/butjumpup.css" />
    <script type="text/javascript" src="__PUBLIC__scripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__scripts/comm.js"></script>


    <link rel="stylesheet" href="__PUBLIC__lib/layui-ext/inputTags.css" >

    <style >
        .layui-textarea{ 
            min-height: 300px;
            height: auto !important;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">


            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>{$title}</legend>
            </fieldset>

            <form class="layui-form" action="" lay-filter="MainForm">
                <input type="hidden" name="Id" id="Id" value="0" /><!-- Id主键 -->
                <input type="hidden" name="ProductPic" id="ProductPic" /><!-- Id主键 -->
                <input type="hidden" name="Tags" id="Tags" value="{$Model->Tags}"/><!-- Id主键 -->

             

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ProductName" lay-verify="required"  class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">商品分类</label>
                        <div class="layui-input-inline">
                            <select name="ClassId" id="ClassId" lay-verify="required" lay-search>
                                <option value="">请选择</option>

                                {foreach $ProductClassList as $key=>$vo } 
                                <option value="{$vo.Id}">{$vo.ClassName}</option>
                                    
                                {/foreach}
                                
                            </select>

                        </div>
                    </div>


                </div>
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">商品编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ProductCode" lay-verify="required" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">推荐（递减排列）</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Tops" lay-verify="required"  class="layui-input" min="0" step="1" lay-affix="number"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">购买次数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="BuyCount" lay-verify="required"  class="layui-input" min="0" step="1" lay-affix="number"/>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">市场价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="NormalPrice" lay-verify="required" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">优惠价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DiscountPrice" lay-verify="required"  class="layui-input" min="0" step="1" lay-affix="number"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">消费积分（银果）</label>
                        <div class="layui-input-inline">
                            <input type="text" name="SellPoints" lay-verify="required"  class="layui-input" min="0" step="1" lay-affix="number"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">直推奖比例</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DirectGuiderRatio"  class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">间推奖比例</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IndirectGuiderRatio"   class="layui-input" min="0" step="1" lay-affix="number"/>
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                   
                    <div class="layui-inline">
                        <label class="layui-form-label">商品图片（标题图）</label>
                        <div class="layui-input-inline">
                           <button type="button" class="layui-btn" id="ID-upload-demo-btn">
                            <i class="layui-icon layui-icon-upload"></i> 单图片上传
                            </button>
                            <div style="width: 132px;">
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="ID-upload-demo-img" style="width: 100%; height: 92px;" src="{$Model->ProductPic|default=''}">
                                    <div id="ID-upload-demo-text"></div>
                                </div>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="filter-demo">
                                    <div class="layui-progress-bar" lay-percent=""></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="layui-form-item  layui-form-text">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block">
                        <div class="tags" id="tags">
                            <input type="text" name="inputTags"  id="inputTags" class="inputTags" placeholder="回车生成标签" autocomplete="off" >

                        </div>                        
                       
                    </div>
                </div>
                <div class="layui-form-item  layui-form-text">
                    <label class="layui-form-label">商品介绍</label>
                    <div class="layui-input-block">
                        <textarea placeholder="" name="ProductCot"  id="ProductCot" autocomplete="off" class="layui-textarea">{$Model->ProductCot}</textarea>
                    </div>
                </div>
                <div class="layui-form-item  layui-form-text">
                    <label class="layui-form-label">商品摘要</label>
                    <div class="layui-input-block">
                        <textarea placeholder="" name="Summary" autocomplete="off" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

        
        </form>
    </div>
    </div>

    <script src="__PUBLIC__lib/layui-v2.11.6/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table', 'jquery'], function () {
            let $ = layui.jquery,
                form = layui.form,
                table = layui.table;
            var util = layui.util;
            var upload = layui.upload;
            var element = layui.element;
            var tags ={};
            layui.extend({
                tinymce: '/lib/tinymce/tinymce'
            }).use(['tinymce'], function () {
                var t = layui.tinymce
                // code ...
                // 后面无特殊说明，其它代码均写在此处
                // ...
                t.render({
                    elem: "#ProductCot",
                    min_height: 500,
                    // 支持tinymce所有配置      
                }, (opt, edit) => {
                    // 加载完成后回调 opt 是传入的所有参数
                    // edit是当前编辑器实例，等同于t.get返回值
                });

            })            
            layui.extend({
                inputTags: '__PUBLIC__lib/layui-ext/inputTags'
            }).use(['inputTags'], function () {
                var inputTags = layui.inputTags;
                

                tags = inputTags.render({
                    elem: '#inputTags', //定义输入框input对象
                    content: SplitTags(), //默认标签
                    aldaBtn: true, //是否开启获取所有数据的按钮
                    done: function(value) { //回车后的回调
                        console.log("刚刚输入标签===="+value)
                        return false;
                    }
                })


            })            

            

            // 自定义验证规则
            form.verify({
                // 确认密码
                confirmPassword: function (value, item) {
                    var passwordValue = $('#RegPwd').val();
                    if (value !== passwordValue) {
                        return '两次密码输入不一致';
                    }
                }

            });





              // 单图片上传
  var uploadInst = upload.render({
    elem: '#ID-upload-demo-btn',
    url: '/{$Request.module}/Upload/save', // 实际使用时改成您自己的上传接口即可。
    data: {'ClientWorkName':'{$Request.module}/{$Request.controller}','ClientTypeId':'60002000',ClientTypeName:'商品标题图',Remark:'商品标题图片'},
    before: function(obj){
      // 预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#ID-upload-demo-img').attr('src', result); // 图片链接（base64）
      });
      
      element.progress('filter-demo', '0%'); // 进度条复位
      layer.msg('上传中', {icon: 16, time: 0});
    },
    done: function(res){
        Debug('upload  res :',res);
      // 若上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      // 上传成功的一些操作
      // …
      $('#ProductPic').val(res.DataInfo.VisualPath); 

      Debug('upload  VisualPath :', res.DataInfo.VisualPath);
      Debug('ProductPic val: ', $('#ProductPic').val());

      $('#ID-upload-demo-text').html(''); // 置空上传失败的状态
    },
    error: function(ex){
        Debug('upload  error :', ex);
      // 演示失败状态，并实现重传
      var demoText = $('#ID-upload-demo-text');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    },
    // 进度条
    progress: function(n, elem, e){
      element.progress('filter-demo', n + '%'); // 可配合 layui 进度条元素使用
      if(n == 100){
        layer.msg('上传完毕', {icon: 1});
      }
    }
  });


            //监听提交
            form.on('submit(demo1)', function (data) {
                console.log(data);
                Debug(data);

                // if (CheckNull(data.field.EmployeeTypeId)) {
                //     layer.alert('请选择 职员类型', { icon: 5 });
                //     return false;
                // }
                // Debug('tags   :', tags);

                data.field.Tags = BuildTags(tags.config.content);
                Debug('data  with tags' ,data);

                // if (null != data) return false;
                var t = layui.tinymce
                //if (null != data) return false;
                var edit = t.get('#ProductCot');
                var htmlCot = edit.getContent();
                data.field.ProductCot = htmlCot;
                $.ajax({
                    url: '/{$Request.module}/{$Request.controller}/save',
                    type: 'post',
                    dataType: 'json',
                    data: data.field,
                    success: function (data) {
                        console.log(data);
                        //Info,Success,Warning,Error
                        var type = data.Type;
                        if (0 < data.StatusCode) {
                            layer.msg(data.Title, { icon: 6, time: 2000 },
                                function () {
                                    var index = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(index);

                                    if (parent.ReloadList)
                                        parent.ReloadList();
                                    if (parent.layer.RefreshTable)
                                        parent.layer.RefreshTable();
                                });

                        } else {
                            layer.alert(data.Title, { icon: 5 });
                        }
                    }
                });
                //layer.alert(JSON.stringify(data.field), {
                //    title: '最终的提交信息'
                //})
                return false;
            });


                        //表单初始赋值
            form.val('MainForm', {

                "Id": "{$Model->Id}" //Id主键
                , "ClassId": "{$Model->ClassId}" //登录账号
                , "ProductName": "{$Model->ProductName}" //商品名称
                //, "ProductCot": "" //商品介绍
                , "Summary": "{$Model->Summary}" //商品摘要
                , "Hits": "{$Model->Hits}" //登录账号
                , "CreateTime": "{$Model->CreateTime}" //登录账号
                , "UpdateTime": "{$Model->UpdateTime}" //登录账号
                , "ReleaseTime": "{$Model->ReleaseTime}" //登录账号


                , "Tops": "{$Model->Tops|default=0}" //推荐，由大到小排列
                , "ProductCode": "{$Model->ProductCode|default=''}" //商品编码
                , "ProductPic": "{$Model->ProductPic|default=''}" //商品标题图

                , "NormalPrice": "{$Model->NormalPrice|default=''}" // 标准价
                , "DiscountPrice": "{$Model->DiscountPrice|default=''}" // 优惠价
                , "SellPoints": "{$Model->SellPoints|default='0'}" // 消费积分（银果）
                , "BuyCount": "{$Model->BuyCount|default=''}" // 购买次数
                , "Tags": "{$Model->Tags|default=''}" // 标签
                , "DirectGuiderRatio": "{$Model->DirectGuiderRatio|default=''}" // 直推奖比例
                , "IndirectGuiderRatio": "{$Model->IndirectGuiderRatio|default=''}" // 间推奖比例

            })







        });

	// layui.config({
	// 	base: '__PUBLIC__lib/layui-ext/',
	// }).use(['inputTags'], function() {
	// 	var inputTags = layui.inputTags;
	// 	inputTags.render({
	// 		elem: '#Tags', //定义输入框input对象
	// 		content: [], //默认标签
	// 		aldaBtn: true, //是否开启获取所有数据的按钮
	// 		done: function(value) { //回车后的回调
	// 			console.log("刚刚输入标签===="+value)
    //             return false;
	// 		}
	// 	})
	// })

    function BuildTags(tags) {
        if(0 == tags.length)
            return '';
        var Result = tags.join('|');
        Result = '|'+ Result + '|';
        return Result;
    }
    function SplitTags(){
        var tags = $('#Tags').val();
        Debug('SplitTags  tags :',tags);
        if(CheckNull(tags))
            return [];
        if(tags.StartWith('|'))
            tags = tags.substr(1);
        if(tags.EndWith('|'))
            tags = tags.substr(0, tags.length-1);
        return tags.split('|');

    }

    </script>
</body>
</html>