<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__PUBLIC__lib/layui-v2.11.6/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__css/public.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__css/pagescss/butjumpup.css" />
    <script type="text/javascript" src="__PUBLIC__scripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__scripts/comm.js"></script>

</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">


            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>{$title}</legend>
            </fieldset>

            <form class="layui-form" action="" lay-filter="MainForm">
                <input type="hidden" name="Id" id="Id" value="0" /><!-- Id主键 -->
                <input type="hidden" name="ClassTitPic01" id="ClassTitPic01" /><!-- Id主键 -->
                <input type="hidden" name="IsNeedSequential" id="IsNeedSequential" /><!-- Id主键 -->
                <input type="hidden" name="EnableBuildPoint" id="EnableBuildPoint" /><!-- Id主键 -->
                <input type="hidden" name="EnablePointBuy" id="EnablePointBuy" /><!-- Id主键 -->

             

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">级组名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="LevelName" lay-verify="required" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">级差</label>
                        <div class="layui-input-inline">
                            <input type="text" name="LevelDifference" lay-verify="required" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">平级奖人数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PeerAwardMax" lay-verify="required" autocomplete="off" class="layui-input" />
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">连续要求</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="SwitchIsNeedSequential" lay-skin="switch" lay-filter="SwitchIsNeedSequential" {if( 1 == $Model.IsNeedSequential)}  checked {/if} title="是|否">
                        </div>
                    </div>
                    
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="Remarks" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

        
        </form>
    </div>
    </div>

    <script src="__PUBLIC__lib/layui-v2.11.6/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table', 'jquery'], function () {
            let $ = layui.jquery,
                form = layui.form,
                table = layui.table;
            var util = layui.util;
            var upload = layui.upload;
            var element = layui.element;




        // 指定开关事件
        form.on('switch(SwitchIsNeedSequential)', function(data){
            // layer.msg('开关 SwitchIsNeedSequential '+ (this.checked ? 'true' : 'false'), {
            //     offset: '6px'
            // });
            $('#IsNeedSequential').val(this.checked ? '1' : '0');
            layer.tips(' 允许获取奖励 温馨提示, 新值 ：' + $('#IsNeedSequential').val(), data.othis)
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是 ON|OFF', data.othis)
        });



        //监听提交
        form.on('submit(demo1)', function (data) {
            console.log(data);
            Debug(data);
            // if (CheckNull(data.field.EmployeeTypeId)) {
            //     layer.alert('请选择 职员类型', { icon: 5 });
            //     return false;
            // }

            // if (null != data) return false;

            $.ajax({
                url: '/{$Request.module}/{$Request.controller}/save',
                type: 'post',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    console.log(data);
                    //Info,Success,Warning,Error
                    var type = data.Type;
                    if (0 < data.StatusCode) {
                        layer.msg(data.Title, { icon: 6, time: 2000 },
                            function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);

                                if (parent.ReloadList)
                                    parent.ReloadList();
                                if (parent.layer.RefreshTable)
                                    parent.layer.RefreshTable();
                            });

                    } else {
                        layer.alert(data.Title, { icon: 5 });
                    }
                }
            });
            //layer.alert(JSON.stringify(data.field), {
            //    title: '最终的提交信息'
            //})
            return false;
        });


        //表单初始赋值
        form.val('MainForm', {

            "Id": "{$Model->Id}" //Id主键
            , "LevelName": "{$Model->LevelName}" //级组名称
            , "LevelDifference": "{$Model->LevelDifference|default=''}" //级差       
            , "IsNeedSequential": "{$Model->IsNeedSequential|default='0'}" //连续要求
            , "PeerAwardMax": "{$Model->PeerAwardMax|default='0'}" //平级奖人数
            , "Remarks": "{$Model->Remarks|default=''}" //备注

        })







        });



    </script>
</body>
</html>